
{$PROD_DOMAIN} {
	# redir /docs /docs/ permanent

	# handle_path /docs/* {
	#    reverse_proxy http://api-docs
	# }
	handle_path /api/* {
		reverse_proxy http://proxy:9100
	}

	reverse_proxy http://frontend:8000
}

{$DEV_DOMAIN} {
	redir /docs /docs/ permanent

	handle_path /docs/* {
		reverse_proxy http://api-docs
	}
	handle_path /api/* {
	    reverse_proxy http://backend-mock:9101
	}

	reverse_proxy http://frontend-mock:8001
}
