services:
    database:
        image: postgres:16.1-alpine3.19
        env_file: database.env
        volumes:
            - ${WORK_DIR:?error}/database:/var/lib/postgresql/data
        networks:
            - snowballr-network
        profiles:
            - production

    backend:
        image: ghcr.io/se-uulm/snowballr-backend:0.1.0
        env_file: backend.env
        networks:
            - snowballr-network
            - snowballr-host # to communicate with the email server
        profiles:
            - production

    proxy:
        build:
            context: .
            dockerfile: Dockerfile.proxy
        ports:
            - "9100:9100"
        command:
            # Point to the backend on the machine's host
            - --backend_addr=backend:9000
            - --allowed_origins=http?://${PROD_DOMAIN}
            - --run_tls_server=false # Don't require TLS Handled by proxy
            - --server_http_debug_port=9100
            - --server_http_max_write_timeout=30s
            - --server_http_max_read_timeout=30s
        networks:
            - snowballr-network
        profiles:
            - production

    frontend:
        image: ghcr.io/se-uulm/snowballr-frontend:latest-dev
        env_file: frontend.env
        networks:
            - snowballr-network
        profiles:
            - production

    database-development:
        image: postgres:16.1-alpine3.19
        env_file: database-development.env
        volumes:
            - ${WORK_DIR:?error}/database-development:/var/lib/postgresql/data
        networks:
            - snowballr-network
        profiles:
            - development

    backend-development:
        image: ghcr.io/se-uulm/snowballr-backend:latest-dev
        env_file: backend-development.env
        networks:
            - snowballr-network
            - snowballr-host # to communicate with the email server
        profiles:
            - development

    proxy-development:
        build:
            context: .
            dockerfile: Dockerfile.proxy
        ports:
            - "9101:9101"
        command:
            # Point to the backend on the machine's host
            - --backend_addr=backend-development:9001
            - --allowed_origins=http?://${DEV_DOMAIN}
            - --run_tls_server=false # Don't require TLS Handled by proxy
            - --server_http_debug_port=9101
            - --server_http_max_write_timeout=30s
            - --server_http_max_read_timeout=30s
        networks:
            - snowballr-network
        profiles:
            - development

    frontend-development:
        image: ghcr.io/se-uulm/snowballr-frontend:latest-dev
        env_file: frontend-development.env
        networks:
            - snowballr-network
        profiles:
            - development

    api-docs:
        image: ghcr.io/se-uulm/snowballr-api:latest
        hostname: "api-docs"
        networks:
            - snowballr-network

    caddy:
        image: caddy:2.10.0
        environment:
            PROD_DOMAIN: ${PROD_DOMAIN:?error}
            DEV_DOMAIN: ${DEV_DOMAIN:?error}
        ports:
            - "80:80"
            - "443:443"
            - "443:443/udp"
        volumes:
            - ${WORK_DIR:?error}/Caddyfile:/etc/caddy/Caddyfile
            - ${WORK_DIR:?error}/runtime/caddy/data:/data
            - ${WORK_DIR:?error}/runtime/caddy/config:/config
        networks:
            - snowballr-network
            - snowballr-host # to communicate with the client

networks:
    snowballr-network:
        name: snowballr-network
        driver: bridge
        internal: true

    snowballr-host:
        name: snowballr-host
        driver: bridge
        internal: false
