name: Reusable Deploy Workflow

on:
    workflow_call:
        inputs:
            profile:
                required: true
                type: string

jobs:
    snowballr-deploy:
        name: Deploy (${{ inputs.profile }}) to Remote Server
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repository
              uses: actions/checkout@v6

            - name: Setup SSH
              run: |
                  mkdir -p ~/.ssh
                  echo "Host *" >> ~/.ssh/config
                  echo -e "\tUserKnownHostsFile /dev/null" >> ~/.ssh/config
                  echo -e "\tStrictHostKeyChecking no" >> ~/.ssh/config
                  echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa
                  chmod 600 ~/.ssh/id_rsa

            - name: Copy Config Files
              run: scp ./{Caddyfile,Dockerfile.proxy,compose.yaml} "${{ vars.REMOTE_USER }}@${{ vars.REMOTE_DOMAIN }}:${{ vars.WORK_DIR }}/"

            - name: Deploy '${{ inputs.profile }}' Profile on Remote Machine
              uses: appleboy/ssh-action@v1
              env:
                  WORK_DIR: ${{ vars.WORK_DIR }}
                  PROD_DOMAIN: ${{ vars.REMOTE_DOMAIN }}
                  DEV_DOMAIN: ${{ vars.REMOTE_DEV_DOMAIN }}
              with:
                  host: ${{ vars.REMOTE_DOMAIN }}
                  username: ${{ vars.REMOTE_USER }}
                  key: ${{ secrets.SSH_PRIVATE_KEY }}
                  envs: WORK_DIR,PROD_DOMAIN,DEV_DOMAIN
                  script: |
                      cd $WORK_DIR

                      # GHCR Login
                      echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u "${{ github.actor }}" --password-stdin

                      # Start containers
                      echo "Starting '${{ inputs.profile }}' deployment"
                      docker compose --profile "${{ inputs.profile }}" up -d --pull always --remove-orphans
