name: Lint and Publish Wiki

on:
    push:
        branches:
            - main
    pull_request:
    workflow_dispatch:

jobs:
    lint-md:
        name: Linting Markdown
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v5

            - name: Lint Markdown
              uses: SE-UUlm/snowballr-ci/src/md-lint@feat/1-feature-add-initial-workflows
              with:
                  source-branch: main
                  ignore-links: "https://dl.acm.org/doi/*,https://snowballr.informatik.uni-ulm.de/*"

    publish-wiki:
        name: Publish Wiki
        if: ${{ github.ref_name == 'main' && github.ref_type == 'branch' }}
        runs-on: ubuntu-latest
        needs: lint-md
        permissions:
            contents: write
        steps:
            - name: Checkout code
              uses: actions/checkout@v5

            - name: Publish Wiki
              uses: SE-UUlm/snowballr-ci/src/wiki-publish@feat/1-feature-add-initial-workflows
